* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    width: 200px;
    height: 200px;
}

#app {
    height: 100vh;
    width: 100%;
    color: white;
    font-family: sans-serif;
}

header {
    background-color: rgb(6 19 31);
    height: 60px;
}

h1 {
    line-height: 60px;
}

.container-h {
    width: 85%;
    margin: 0 auto;
}

main {
    background-color: rgb(29 45 60);
    overflow-y: auto;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 3);
}

.card {
    margin: 40px;
    padding: 20px;
    gap: 10px;
    height: 350px;
    text-align: center;
    background-color: rgb(17 32 48);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.off-canvas {
    background-color: rgba(17, 32, 48, 0.9);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 90%;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.close-btn {
    background-color: red;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.close-btn:hover {
    opacity: 50%;
}